<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- En esta sección se define la configuración del registro para My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="alcoingEntities" connectionString="metadata=res://*/EdmBaseIng.csdl|res://*/EdmBaseIng.ssdl|res://*/EdmBaseIng.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVIDORDB\DBSERVER;initial catalog=alcoing;user id=sa;password=alco2012*;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Datos.My.MySettings.alcoingConnectionString" connectionString="Data Source=SERVIDORDB\DBSERVER;Initial Catalog=alcoing;User ID=sa;Password=alco2012*"
      providerName="System.Data.SqlClient" />
    <add name="Datos.My.MySettings.unoee_real1ConnectionString" connectionString="Data Source=SERVIDORDB\DBSERVER;Initial Catalog=unoee_real1;User ID=sa;Password=alco2012*"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>